conda.enabled = true

executor {
    name   = 'local'
    cpus   = 18
    memory = '120 GB'
}

process {
    cpus   = { params.max_cpus ?: 16 }
    memory = { params.max_memory ?: '120 GB' }

    withName:DOWNLOAD_CHAIN_FILE    { cpus = 1; memory = '1 GB'  }
    withName:DOWNLOAD_PICARD_JAR    { cpus = 1; memory = '1 GB'  }
    withName:DETECT_AND_LIFTOVER    { cpus = 4; memory = '16 GB' }
    withName:INDEX_VCF              { cpus = 2; memory = '4 GB'  }
    withName:COLLECT_STUDY_SITES    { cpus = 1; memory = '8 GB'  }
    withName:PREHARMONIZE_REF_VCF   { cpus = 4; memory = '8 GB'  }
    withName:CREATE_POP_FILE        { cpus = 1; memory = '2 GB'  }
    withName:RUN_PCA                { cpus = 2; memory = '8 GB'  }
    withName:PLOT_PCA               { cpus = 1; memory = '8 GB'  }
    withName:SUMMARIZE_Q            { cpus = 1; memory = '4 GB'  }
    withName:PLOT_ANCESTRY          { cpus = 1; memory = '8 GB'  }
    withName:HARMONIZE_CONTIGS      { cpus = 2; memory = '4 GB'  }
    withName:SPLIT_STUDY_SITES      { cpus = 1; memory = '4 GB'  }
    withName:MERGE_CHROMOSOME       { cpus = 1; memory = '8 GB'  }
    withName:CONCAT_VCFS            { cpus = 4; memory = '16 GB' }
}
